.top {
  width: 50%;
  margin: 5rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar {
  position: relative;
}
.search-icon {
  position: absolute;
  padding: 0.3rem 0 0 0.6rem;
  cursor: pointer;
}
input {
  width: 100%;
  border-radius: 5rem;

  padding-left: 2.5rem;
  height: 1.5rem;
  border: none;
  outline: navajowhite;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid wheat;
  cursor: pointer;
  border-radius: 0.5rem;
}
.add {
  padding: 0.2rem;
  font-size: 1.5rem;
}
.add-expense {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.add-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
}
